<div class="container">
  <div class="row">
    <!--<date-card *ngFor="let data of informationDate" [cardInformation]="data" class="col-4"></date-card>-->
    <div class="col-md-7">Auch 2019 findet der Uphill Champion Thun statt. In der dritten Juniwoche suchen wir den zweiten Uphill Champion.
    Können die beiden Vorjahressieger Kim Hadorn und Florian Schneider auch auf neuem Terrain überzeugen und den Titel erfolgreich verteidigen?
      Fakt ist: Uphill Champion Thun 2019 wird auf keinen Fall weniger hart als die erste Ausgabe.</div>
    <div class="col-md-5">
      <small-info-card></small-info-card>
    </div>
  </div>
</div>
