#datcont{
  width: 810px;
  height: 300px;
  margin: 0 auto;
  overflow: auto;
  margin-bottom: 30px;

}
.datum{
  background-color: transparent;
  border: 5px solid black;
  box-sizing: border-box;
  padding: 0 !important;
}

.hDat{
  text-align: center;
  font-size: 4em;
  margin: 0;
}


.txtDat{
  text-align: center;
  font-size: 2em;
  color: black;

}

.headerDat{
  background-color: rgb(255,100,100);
  width: 100%;
  color: white;
}


@media only screen and (max-width: 800px) {
  .col-4{
    padding: 0 2px;
  }
  .hDat{
    font-size: 3em;
  }
  .txtDat{
    font-size: 1.5em;
  }
  .datum{
    border: 2px solid;
  }
}


@media only screen and (max-width: 400px) {
  .col-4{
    padding: 0 2px;
  }
  .hDat{
    font-size: 2em;
  }
  .txtDat{
    font-size: 1em;
  }
  .datum{
    border: 2px solid;
  }
}
