<div class="container">
  <div class="row">
    <div class="col-md-7">
      <information-card *ngIf="info" [information]="info" [heightFitParent]="true" [titleWithBorder]="true">
        <app-competition-rules></app-competition-rules>
      </information-card>
    </div>
    <div class="col-md-5">
      <small-info-card></small-info-card>
    </div>
  </div>
  <information-card [information]="route" [heightFitParent]="true" [titleWithBorder]="true">
    <div class="row">
      <div class="col-sm-6">
        <mat-radio-group aria-label="Select an option" (change)="setShortRoute($event)">
          <mat-radio-button value="1" [checked]="true">Hauptlauf</mat-radio-button>
          <mat-radio-button value="2">Kurz</mat-radio-button>
          <mat-radio-button value="3">Staffel</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-sm-6">
        <div class="raceDetail" *ngFor="let info of getCategoryInfos()"><strong>{{info.distance}}Km -
            {{info.elevation}}Hm</strong></div>
      </div>
    </div>


    <div class="row" style="margin-top: 1em;">
      <div class="col-md-6">
        <mat-card style="padding: 0;">
          <app-my-map [selectedCourse]="selectedCourse"></app-my-map>
        </mat-card>
      </div>
      <div class="col-md-6">
        <mat-card style="padding: 0;">
          <div id="altitude"></div>
        </mat-card>
      </div>
    </div>
    <a href="https://s.geo.admin.ch/8833bcb9c9" target="_blank"
      style="font-size: smaller; color: darkgrey; position: absolute;">in map.geo.admin.ch ansehen</a>


  </information-card>

  <!-- <div class="row">
    <div class="col-lg-7">
      <information-card [information]="price" [titleWithBorder]="true" [heightFitParent]="true">
        <mat-slide-toggle
          class="example-margin"
          [color]="'warn'"
          [(ngModel)]="isReduced"
          [checked]="false">
        GA/Halbtax
      </mat-slide-toggle>
        <div class="entry-box">
          <div class="row">
            <ng-container *ngFor="let info of categoryInfos">
              <div class="col-4">
                <div class="">
                  <div class="">{{info.name}}</div>
                  <div class="">
                    <ng-container *ngFor="let category of info.categories">
                      <div class="price">{{category.name.f}}<br>
                        {{category.price[isReduced?'reduced':'normal'] | currency:'Fr'}}
                        
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </information-card>
    </div>
    <div class="col-lg-5">
      <information-card [information]="entry" [titleWithBorder]="true" [heightFitParent]="true">
      </information-card>
    </div>
  </div> -->

  <!--  <div class="accordion-stage">-->
  <!--    <mat-accordion>-->
  <!--      <race-detail *ngFor="let info of temp" [stageInfo]="info"></race-detail>-->
  <!--    </mat-accordion>-->
  <!--  </div>-->


</div>