.info-card {
  margin-top: 1.5em;
  /*min-height: 580px;*/
  white-space: pre-line !important;
}
.info-card-parent-height{
  height: calc(100% - 3em);

}

.info-card-header {
  font-size: 20px;
  font-weight: bold;
}
.mat-card-image{
  max-height: 300px;
  box-shadow: 1px 0px 20px 0px #edecec;
}

.mat-card-content{
  font-size: 1em;
}

.info-card-footer{
  padding-left: 16px;
}

.btn-link-card{
  margin-right: 5px;
}
