<mat-card class="info-card">
  <mat-card-header>
    <mat-card-title class="info-card-header">{{information.textInformation.title}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{information.textInformation.pictureUrl}}" alt="{{information.textInformation.pictureAlt}}">
  <mat-card-content>
    <p>{{information.textInformation.text}}</p>
  </mat-card-content>
  <mat-card-actions class="info-card-footer" *ngIf="information.buttonInformation">
    <ng-container *ngFor="let btn of information.buttonInformation">
      <a href="{{btn.link}}" target="_blank"><button mat-stroked-button color="primary" class="btn-link-card">{{btn.value}}</button></a>
    </ng-container>
  </mat-card-actions>
</mat-card>
