.title{
  font-size: 18px;
}

.bold{
  font-weight: bold;
}

.main-title{
  width: 240px;
}

.info{
  color: #ffffff;
  background-color: #ff693b;
  text-align: center;
  padding: 0.2em 0;
  margin: 0.5em;
  h2{
    margin: 0.5em;
  }
  p{
    margin: 0.5em;
  }
}

.sm{
  display: none;
}

.cont{
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .description{
    display: none;
  }
  .sm{
    display: block;
  }
  .big{
    display: none;
  }
  //.cust-row{
  //  padding: 0 10%;
  //}
}
