<mat-card class="small-info">
  <mat-card-content>
    <div class="row">
      <div class="col-3 icon"><fa-icon class="" [icon]="faCalendar"></fa-icon></div>
      <div class="col-9 info"><p>29. August 2020</p></div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="small-info">
  <mat-card-content>
    <div class="row">
      <div class="col-3 icon"><fa-icon class="" [icon]="faClock"></fa-icon></div>
      <div class="col-9 info"><p>Start: ca 16 Uhr</p></div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="small-info">
  <mat-card-content>
    <div class="row">
      <div class="col-3 icon"><fa-icon class="" [icon]="faLocation"></fa-icon></div>
      <div class="col-9 info"><p>Beatenbucht - Niederhorn</p></div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="small-info">
  <mat-card-content>
    <div class="row">
      <div class="col-3 icon"><fa-icon class="" [icon]="faRunning"></fa-icon></div>
      <div class="col-9 info"><p>Einzel- und Staffellauf</p></div>
    </div>
  </mat-card-content>
</mat-card>

