<mat-card class="small-info">
  <mat-card-content>
    <div class="row">
      <div class="col-3 icon"><fa-icon class="" [icon]="faCalendar"></fa-icon></div>
      <div class="col-9 info"><p>4. Juni - 6. Juni 2019</p></div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="small-info">
  <mat-card-content>
    <div class="row">
      <div class="col-3 icon"><fa-icon class="" [icon]="faClock"></fa-icon></div>
      <div class="col-9 info"><p>Start: ca 19 Uhr</p></div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="small-info">
  <mat-card-content>
    <div class="row">
      <div class="col-3 icon"><fa-icon class="" [icon]="faLocation"></fa-icon></div>
      <div class="col-9 info"><p>Region Thun</p></div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="small-info">
  <mat-card-content>
    <div class="row">
      <div class="col-3 icon"><fa-icon class="" [icon]="faTrophy"></fa-icon></div>
      <div class="col-9 info"><p>Cup mit drei Etappen</p></div>
    </div>
  </mat-card-content>
</mat-card>

<!--<mat-card>-->
  <!--<mat-card-content>-->
    <!--<div class="row">-->
      <!--<div class="col-3 icon"><fa-icon class="" [icon]="faRoute"></fa-icon></div>-->
      <!--<div class="col-9 info"><p>Etappenlänge: 2-5km, 200-600hm  </p></div>-->
    <!--</div>-->
  <!--</mat-card-content>-->
<!--</mat-card>-->

<!--<mat-card>-->
<!--<mat-card-content>-->
  <!--<div class="row">-->
    <!--<div class="col-3 icon"><fa-icon class="footer-icon" [icon]="faMountain"></fa-icon></div>-->
    <!--<div class="col-9 info"><p>Viel Steigung und schöne Aussicht</p></div>-->
  <!--</div>-->
<!--</mat-card-content>-->
<!--</mat-card>-->
