<parallax-scroll *ngIf="pic3" [backgroundPicture]="pic3" [logoPath]="'../assets/logo_d_1.png'"></parallax-scroll>
<div style="width: 100%; min-height: 100vh; background-color: white; color: black; padding: 20px">

  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-md-6" *ngFor="let data of textWelcome">
        <information-card [information]="data"></information-card>
      </div>
    </div>
  </div>

</div>
<parallax-scroll *ngIf="pic2" [backgroundPicture]="pic2" [title]="'Uphill Champion Thun'"></parallax-scroll>
<div style="width: 100%; height: 100vh; background-color: white; color: black">

</div>
<parallax-scroll *ngIf="pic1" [backgroundPicture]="pic1" [logoPath]="'../assets/logo_d_1.png'"></parallax-scroll>
<div style="width: 100%; height: 100vh; background-color: white; color: black">
</div>
