<parallax-scroll *ngIf="pic2" [backgroundPicture]="pic2" [logoPath]="'../assets/logo_d_1.png'"></parallax-scroll>
<div class='main-content' style="">

  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-md-6" *ngFor="let data of textWelcome">
        <information-card [information]="data"></information-card>
      </div>
    </div>
  </div>

</div>
<parallax-scroll *ngIf="pic3" [backgroundPicture]="pic1" [title]="'Team'"></parallax-scroll>
<div class="main-content">
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let data of informationTeam">
        <div class="col-xl-6"><app-contact-card [cardInformation]="data"></app-contact-card></div>
      </ng-container>
    </div>
  </div>

</div>
<parallax-scroll *ngIf="pic1" [backgroundPicture]="pic3" [logoPath]="'../assets/logo_d_1.png'"></parallax-scroll>
<div class="main-content">
</div>
