
.main-content{
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: max-content;
  background-color: #fcfcfc;
  z-index: 1;
  padding: 1.5em 0;
}

.parallax-window {
  min-height: 400px;
  width: 100%;
  background: transparent;
}

.logo {
  width: 250px;
  height: 250px;
}


#sponsorOne{
  background-image: url("../../assets/sponsors/sp2.png");
}
#sponsorTow{
  background-image: url("../../assets/sponsors/logo.png");
}
#sponsorThree{
  background-image: url("../../assets/sponsors/Logo_aek.png");
}
#sponsorFour{
  background-image: url("../../assets/sponsors/GBSLogo18.png");
}
#sponsorFife{
  background-image: url("../../assets/sponsors/Landi_Logo.svg");
}
#sponsorSix{
  background-image: url("../../assets/sponsors/picotiming.svg");
}

.sponsors{
  width: 80%;
  height: 85px;
  margin-bottom: 1em;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.cont-sponsors{
  background-color: rgba(182, 182, 182, 0.56);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 1em;
}

.desktop-heading{
  font-size: 4em;
}

@media only screen and (max-width: 992px) {
  .parallax-window h1{
    padding-top: 20vh;
  }
  .sponsors{
    background-size: 75%;
  }

}


