.main-content {
  width: 100%;
  /*min-height: 100vh;*/
  background-color: #fcfcfc;
  color: black;
  padding: 20px 0;
}

.parallax-window {
  min-height: 400px;
  width: 100%;
  background: transparent;
}

.logo {
  width: 250px;
  height: 250px;
}



.utc2019{
  min-height: 1120px;
}

@media only screen and (max-width: 770px) {
  .parallax-window h1{
    padding-top: 20vh;
  }
  .bigTxt{
    font-size: 40px;
    padding: 150px 3px !important;
  }
  .utc2019{
    height: 2080px;
  }
}
