.main-content {
  width: 100%;
  /*min-height: 100vh;*/
  background-color: #fcfcfc;
  color: black;
  padding: 20px 0;
}

.parallax-window {
  min-height: 400px;
  width: 100%;
  background: transparent;
}

.logo {
  width: 250px;
  height: 250px;
}

.parallax-window h1{
  text-align: center;
  padding-top: 400px;
  margin-top: 0;
}

.bigTxt{
  font-size: 80px;
}

@media only screen and (max-width: 770px) {
  .parallax-window h1{
    padding-top: 20vh;
  }
  .bigTxt{
    font-size: 40px;
    padding: 150px 3px !important;
  }

  .parallax-window {
    display: none;
  }
}
